/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body {
  /* min-height: 100vh; */
  background: pink;
  margin: 0;
  font-family: sans-serif;
}

/* shared layout rules */
img {
  max-width: 100%;
  display: block;
}

    .bake-card {
      display: flex;
      flex-direction: column;
      background-color: rgb(183, 124, 255);
      text-align: center;
      color: black;
      border-radius: 0.7rem;
      border: 3px white solid;
      overflow: hidden;
      width: 100%;
      max-width: 200px;
}

h2 {
  margin: 0;
  text-align: center;
}

.bake-card img {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 0 auto;
}


.bake-card h4 {
  padding: 0.5rem;
}

section {
  padding: .5rem 0;
}

section h2 {
  margin: 0 0 1rem 0;
  text-align: center;
}


    .remove-btn {
      background:rgba(241, 255, 93, 0.944);
      border: none;
      /* border-radius: 1rem; */
      padding: 0.5rem 0.75rem;
      font-weight: bold;
      cursor: pointer;
    }

    .remove-btn:hover {
      background: rgb(255, 143, 210);
    }

    .bold-item{
      font-weight: bold;
    }