/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: rgba(241, 255, 93, 0.944);
  font-family: sans-serif;
}

/* shared layout rules */
img {
  max-width: 100%;
  display: block;
}

/* adding BakeCard styles globally rather than rewriting it over and over */
    /* have to improve responsive for cards,, should be a set top middle and bottom so they are sliding with screen size
    rather than clicking into place */
.bake-card {
        display: grid;
        gap: 1rem;
        background-color: rgb(183, 124, 255);
        border-radius: 0.5rem;
        text-decoration: none;
        text-align: center;
        color: black;
        border: 3px white solid;
        border-radius: 0.7rem;
    }

    .bake-card img {
      width: 200px;
      height: 200px;
    }

