/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: pink;
  margin: 0;
  font-family: sans-serif;
}

/* shared layout rules */
img {
  max-width: 100%;
  display: block;
}
    .bordered {
      border: 3px white solid;
      border-radius: 0.7rem;
    }

    .bake-card {
      display: grid;
      gap: 1rem;
      background-color: rgb(183, 124, 255);
      border-radius: 0.7rem;
      text-align: center;
      color: black;
      overflow: hidden; /* 🔥 important */
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
}

h2 {
  margin: 0;
  text-align: center;
}

.bake-card img {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 0 auto;
}

.bake-card h4 {
  margin: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.bake-card * {
  margin: 0;
}

section {
  padding: .5rem 0;
}

section h2 {
  margin: 0 0 1rem 0;
  text-align: center;
}
