---

---

<h3>♡ About Lune's Bakery ♡</h3>

<p>
    ♡ Everything is grown right around the corner from the bakery which allows
    for a Knowing of where all the products are coming from!!!♡
</p>

<p>
    ♡ This journey all started with the simple phrase of "Farmers Feed Cities"
    and now we have the pleasure,, honour and gratitude to be able to feed
    cities in another way through the bakery! ♡
</p>
