---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <Nav />
    <h2>
        &#x131A9;&#x2661;&#x131AA;About&#x131A9;&#x2661;&#x131AA;
    </h2>

    <div class="center-wrapper">
        <div class="container">
            <p>
                &#x131A9;&#x2661;&#x131AA; Everything is grown right around the
                corner from the bakery which allows for a Knowing of where all
                the products are coming from!!! &#x131A9;&#x2661;&#x131AA;
            </p>

            <p>
                &#x131A9;&#x2661;&#x131AA; This journey all started with the
                simple phrase of "Farmers Feed Cities" and now we have the
                pleasure,, honour and gratitude to be able to feed cities in
                another way through the bakery! &#x131A9;&#x2661;&#x131AA;
            </p>
        </div>
    </div>
</Layout>
<style>

    body {
        background-color: pink;
    }

    .center-wrapper {
        display: grid;
        place-items: center;
        /* whats happening below ?? 
        calc(100vh - headerHeight) ensures the container is centered in the remaining space, not over the nav/h1. */
        min-height: calc(50vh);
    }

    h2 {
        text-align: center;
    }

    p {
        font-weight: bold;
    }

    .container {
        display: grid;
        gap: 1rem;
        padding: 1rem;
        box-shadow:
            0 4px 15px rgba(0, 0, 0, 0.15),
            0 10px 30px rgba(0, 0, 0, 0.2);
        width: 33.33%;
        border-radius: 1rem;
        border: 4px white solid;
        background-color:rgba(255, 179, 16, 0.96);
    }
</style>
