---
import Nav from "../components/Nav.astro";
---

<Nav />

<section>
    <section>
        <!-- h1 even ?? this would be the main focus of the /goodies -->
        <h2>Today's Fresh Bakes</h2>

        <section>
            <a href="#"><img src="" /></a>
        </section>

        <section>
            <a href="#"><img src="" /></a>
        </section>

        <section>
            <a href="#"><img src="" /></a>
        </section>
    </section>
</section>
