---
import FreshBake from "../components/FreshBake.astro";
import Nav from "../components/Nav.astro";
import Regulars from "../components/Regulars.astro";
---

<Nav />

<section>
    <FreshBake />
    <Regulars />
</section>

<style>
    body {
        background: rgba(241, 255, 93, 0.944);
    }
</style>
