---
import FreshBake from "../components/FreshBake.astro";
import Nav from "../components/Nav.astro";
---

<Nav />

<section>
    <FreshBake />
    <section>
        <!-- 
        breads:: brown,, white,, rye
        muffins:: chocolate chip,, blueberry
        bagels:: whole wheat,, cheese
        -->
        <section>
            <h3>Daily Regulars</h3>
            <div>
                <img src="" alt="" />
            </div>

            <div>
                <img src="" alt="" />
            </div>

            <div>
                <img src="" alt="" />
            </div>
        </section>
    </section>
</section>

<style>
    body {
        background: rgba(241, 255, 93, 0.944);
    }
</style>
