---
import Nav from "../components/Nav.astro";
---

<Nav />

<section>
    <section>
        <!-- h1 even ?? this would be the main focus of the /goodies -->
        <h2>Today's Fresh Bakes</h2>

        <section>
            <a href="#"><img src="" /></a>
        </section>

        <section>
            <a href="#"><img src="" /></a>
        </section>

        <section>
            <a href="#"><img src="" /></a>
        </section>
    </section>

    <section>
        <!-- this would be the weekly regulars -> have been thinking of something like breads and pasteries

        also everything lowercase ??? :3 loooks nice calming
        
        breads:: brown,, white,, rye
        muffins:: chocolate chip,, blueberry
        bagels:: whole wheat,, cheese
        
        and each one of these categories would be one ""per week"" check back in next week for customers :3 

        i imagine this would be in a slower town vibe soo wouldnt be soo hussle bussle annoying lol
        
        i love pseudo code heheheheh 
        -->
        <section>
            <h3>Daily Regulars</h3>
        </section>
    </section>
</section>
