---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
// import CartList from "../components/CartList.astro";
---

<Layout>
    <Nav />
    <h1>Your Cart 🛒</h1>

    <!-- <CartList /> -->
</Layout>
