---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
    <Nav />
    <h1>Your Cart 🛒</h1>
    <ul id="cart-items"></ul>
    <p id="cart-total"></p>
</Layout>

<script type="module">
    import { getCart } from "../scripts/cart.js";
    import { renderCart } from "../scripts/renderCart.js";
    import { removeItem } from "../scripts/cart.js";

  const list = document.querySelector("#cart-items");
  const totalEl = document.querySelector("#cart-total");


  console.log(getCart()[0]);
  function renderListItem(item, index) {
    const div = document.createElement("div");

    div.innerHTML = `
    <img src="${item.image}" alt="${item.name}" class="cart-img"/>

    <div class="cart-info">
      <h4>${item.name}</h4>
      <p>Qty: ${item.qty}</p>
      <p>$${item.price * item.qty}</p>
    </div>

    <button class="remove-btn">❌</button>
  `;

  div.querySelector(".remove-btn").onclick = () => {
    removeItem(index);
    render();
  };

  return div;
}

  function render() {
    renderCart(list, totalEl, renderListItem);
  }

  render();
</script>