---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <h1>Your Cart 🛒</h1>
    <ul id="cart-items"></ul>
    <p id="cart-total"></p>
</Layout>

<script type="module">
    import { getCart } from "../scripts/cart.js";
    import { renderCart } from "../scripts/renderCart.js";
    import { removeItem } from "../scripts/cart.js";

  const list = document.querySelector("#cart-items");
  const totalEl = document.querySelector("#cart-total");

  function renderListItem(item, index) {
    // update for accessibility?
    const div = document.createElement("div");

    div.innerHTML = `
      <div class="bake-card">
        <h4>${item.name}</h4>
        <img src="${item.image}" alt="${item.name}" />
        <p>Qty: ${item.qty}</p>
        <p>$${item.price * item.qty}</p>
        <button class="remove-btn">❌</button>
    </div>
  `;

  div.querySelector(".remove-btn").onclick = () => {
    removeItem(index);
    render();
  };

  return div;
}

  function render() {
    renderCart(list, totalEl, renderListItem);
  }

  render();
</script>
<style>
   body {
        background-color: pink;
    }
    
    #cart-items {
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax (200px, 1fr));
        gap: 1rem;
        margin: 0 auto;
        justify-content: center;
        padding: 1.5rem;
    }
    </style>