---
import { Image } from "astro:assets";
const { image, alt, width, src } = Astro.props;
---

<a href={src} class="bake-card">
    <Image src={image} alt={alt} width={200} height={200} />
</a>
<style>
    .bake-card {
        border: 0.5rem rgb(253, 255, 203) solid;
        border-radius: 1rem;
        width: 200px;
        margin-right: 4px;
    }
</style>
