---
import { Image } from "astro:assets";
const { image, alt, width } = Astro.props;
---

<div class="bake-card">
    <Image src={image} alt={alt} width={200} />
</div>

<style>
    .bake-card {
        border: 0.5rem rgb(253, 255, 203) solid;
        border-radius: 1rem;
        width: 200px;
        margin-right: 1rem;
    }
</style>
