---
import bb from "../assets/BakedGoods/TodayBakes/bb.jpg";
import cc from "../assets/BakedGoods/TodayBakes/cc.jpg";
import mc from "../assets/BakedGoods/TodayBakes/mc.jpg";
---

<h2>Today's Fresh Bakes</h2>

<div class="card">
    <img src={bb} alt="Blueberry Pastry" />
</div>

<div class="card">
    <img src={cc} alt="Chocolate Croissant" />
</div>

<div class="card">
    <img src={mc} alt="Macadamian Nut Cookie" />
</div>

<style>
    .card {
        border: 0.5rem rgb(253, 255, 203) solid;
        border-radius: 1rem;
    }
</style>
