<ul id="cart-items"></ul>
<p id="cart-total"></p>

<script type="module">
    import { getCart } from "../scripts/cart.js";

    const list = document.querySelector("#cart-items");
    const totalEl = document.querySelector("#cart-total");

    function renderCart() {
        // if cart is empty
        if (items.length === 0) {
            list.innerHTML = "<p>Your cart is empty 🧁</p>";
            totalEl.textContent = "";
            return;
        }
        // importing getCart function from cart.js scripts
        const items = getCart();

        list.innerHTML = "";

        let total = 0;

        items.forEach((item, index) => {
            total += item.price;

            const li = document.createElement("li");

            li.innerHTML = `
      ${item.name} - $${item.price}
      <button data-index="${index}">❌</button>
    `;

            list.appendChild(li);
        });

        totalEl.textContent = `Total: $${total}`;

        // remove item
        document.querySelectorAll("button[data-index]").forEach((btn) => {
            btn.onclick = () => {
                removeItem(btn.dataset.index);
            };
        });
    }

    function removeItem(index) {
        let cart = getCart();
        cart.splice(index, 1);
        localStorage.setItem("cart", JSON.stringify(cart));
        renderCart();
    }

    renderCart();
</script>
