---
import Socials from "./Socials.astro";
---

<div class="container">
    <h2>♡ Contact Lune's Bakery ♡</h2>

    <p>♡ Telephone:: 905-777-7777 ♡</p>

    <p>♡ lunesbakery@stargirl.com ♡</p>

    <Socials />
</div>

<style>
    .container {
        text-align: center;
        padding: 2rem;
        background: linear-gradient(
      to right,
      rgba(16, 180, 10, 0.8) 0%,
      rgba(167, 81, 204, 0.8) 96%
    );
    }
</style>
