---
import Socials from "./Socials.astro";
---

<div class="container">
    <h2>♡ Contact ♡</h2>

    <p>♡ Telephone:: 905-777-7777 ♡</p>

    <p>♡ lunesbakery@stargirl.com ♡</p>

    <Socials />
</div>

<style>
    .container {
        text-align: center;
        padding-bottom: 2rem;
    }
</style>
