---
import Location from "./Location.astro";
import Socials from "./Socials.astro";
---

<div class="container">
    <h2>&#x131A9;&#x2661;&#x131AA; Contact &#x131A9;&#x2661;&#x131AA;</h2>
    <div class="form-container">
     <form action="https://api.web3forms.com/submit" method="POST">
        <input type="hidden" name="access_key" value="ddd37b81-2574-4b9b-a2aa-4bd9ec129b0e">
        <input type="text" name="name" required>
        <input type="email" name="email" required>
        <textarea name="message" required></textarea>
        <button type="submit">Submit</button>
        </form>
    </div>
    <Location />
    <Socials />
</div>

<style>
    .container {
        text-align: center;
        padding: 2rem;
        /* background: linear-gradient(
      to right,
      rgba(16, 180, 10, 0.8) 0%,
      rgba(167, 81, 204, 0.8) 96%
    ); */
    }

    li {
        text-decoration: none;
        list-style-type: none;
        margin-top: .5rem;
    }

    .form-container {
        display: flex;
        background-color: pink;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    form {
        display: flex;
        width: 33.33%;
        gap: 1rem;
        flex-direction: column;
    }
</style>
