---
import Socials from "./Socials.astro";
---

    <!-- <section>
        <h2>&#x131A9;&#x2661;&#x131AA; Contact Lune's Bakery &#x131A9;&#x2661;&#x131AA;</h2>

        <p>&#x131A9;&#x2661;&#x131AA; Telephone: 905-777-7777 &#x131A9;&#x2661;&#x131AA;</p>

        <p>&#x131A9;&#x2661;&#x131AA; lunesbakery@stargirl.com &#x131A9;&#x2661;&#x131AA;</p>

        <h3>&#x131A9;&#x2661;&#x131AA; Address: 123 Dreamland Road &#x131A9;&#x2661;&#x131AA;</h3>

        <h4>&#x131A9;&#x2661;&#x131AA; Business Hours: &#x131A9;&#x2661;&#x131AA;</h4>
        <ul>
            <li>Monday to Friday: 8:00AM - 6:00 PM</li>
            <li>Saturday : 8:00 AM - 5:00 PM</li>
            <li>Sunday : 8:00 AM - 4:00 PM</li>
        </ul>
    
    </section> -->

<Socials />