---
import Socials from "./Socials.astro";
---

    <section class="footer-grid">

        <Socials />
    </section>


<style>
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
</style>