---
import BakeCard from "../components/BakeCard.astro";
import bb from "../assets/BakedGoods/TodayBakes/bb.jpg";
import cc from "../assets/BakedGoods/TodayBakes/cc.png";
import mc from "../assets/BakedGoods/TodayBakes/mc.jpg";

const bakes = [
    {
        image: bb,
        alt: "Blueberry Pastry",
        title: "Blueberry Pastry",
        width: 200,
    },
    {
        image: cc,
        alt: "Chocolate Croissant",
        title: "Chocolate Croissant",
        width: 200,
    },
    {
        image: mc,
        alt: "Macadamia Nut Cookie",
        title: "Macadamia Nut Cookie",
        width: 200,
    },
];
---

<h2>
    &#x131A9;&#x2661;&#x131AA; Today's Fresh Bakes &#x131A9;&#x2661;&#x131AA;
</h2>

<div class="container">
    {bakes.map((bake) => <BakeCard {...bake} />)}
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }
</style>
