---
import BakeCard from "../components/BakeCard.astro";
const isHome = Astro.url.pathname === "/";
const bakes = [
    {
        image: "/images/BakedGoods/TodayBakes/bb.jpg",
        title: "Blueberry Pastry",
        alt: "Blueberry Pastry",
        src: "/bakes",
    },
    {
        image: "/images/BakedGoods/TodayBakes/cc.png",
        title: "Chocolate Croissant",
        alt: "Chocolate Croissant",
        src: "/bakes",
    },
    {
        image: "/images/BakedGoods/TodayBakes/mc.jpg",
        title: "Macadamia Nut Cookie",
        alt: "Macadamia Nut Cookie",
        src: "/bakes",
    },
];
---

<h2>
    &#x131A9;&#x2661;&#x131AA; Today's Fresh Bakes &#x131A9;&#x2661;&#x131AA;
</h2>

<div class="container">
    {bakes.map((bake) => <BakeCard {...bake} />)}
</div>
{isHome && (
    <div class="more-wrapper">
        <button class="button-style">
            <a href="/bakes" class="more-button">See More</a>
        </button>
  </div>
)}

<style>
    .container {
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax (200px, 1fr));
        gap: 1rem;
        margin: 0 auto;
        justify-content: center;
        padding: 1.5rem;
    }

    h2 {
        padding: 1rem;
        text-align: center;
    }
    
    .more-wrapper {
        display: flex;
        justify-content: center;
    }

    .button-style {
        background-color: pink;
        border-radius: .2rem;
        border: 2px solid white;
    }

    .button-style:hover {
        background-color: rgb(251, 73, 102);
    }

    a:hover {
        color: black;
    }
    .more-button {
        padding: .2rem;
        gap: .5rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    a {
        font-weight: bold;
    }
</style>