---
import { Image } from "astro:assets";
import bb from "../assets/BakedGoods/TodayBakes/bb.jpg";
import cc from "../assets/BakedGoods/TodayBakes/cc.png";
import mc from "../assets/BakedGoods/TodayBakes/mc.jpg";
import BakeCard from "../layouts/BakeCard.astro";
---

<h2>Today's Fresh Bakes</h2>

<BakeCard>
    <Image src={bb} alt="Blueberry Pastry" width={200} />
</BakeCard>

<BakeCard>
    <Image src={cc} alt="Chocolate Croissant" width={200} />
</BakeCard>

<BakeCard>
    <Image src={mc} alt="Macadamian Nut Cookie" width={200} />
</BakeCard>
