---
import Bakes from "./Bakes.astro";
---

<main>
    <!-- this component is important because it will be one of the only ones that will be ongoingly being updated
     but the data being pulled from Bakes component. the top 3 freshest "adds of the day" will be rendered as the main -->

    <!-- next steps:: figuring out how to have a separate section almost in Goods::
      
     Freshest of the Day but this could be more than just 3??? maybe its less too?? it would be that day!!! 
     
     but than i imagine theres the staples that a Bakery would have::
     
     - bread
     - croissants
     - bagels
     - muffins
     - a few speciality cookies so its not like the main thing
     - but its a bakery thats connected to a farm sooo could do whatever 
     

     Freshest of Day Component -> how could this be updated easily daily without having to push new title description
     photos etcccc YAWNNNNN

     Regulars Component -> the foods labeled above
     -->

    <!-- THIS IS UNDER THE NAV !!! but hmmmmm maybe can do that design!!! Like opening up a gift!!! nav at the top bakery and title in the middle!!!! will see next time -->
    <h1>♡ Lune's Bakery ♡</h1>
    <Bakes />
</main>
