<!-- add main photo of bakery goods as one image -->

<main>
    <img alt="Baked Goods" src="#"/>
</main>

<style>
    main {
        display: flex;
        box-shadow:
            0 4px 15px rgba(0, 0, 0, 0.15),
            0 10px 30px rgba(0, 0, 0, 0.2);
    }
</style>