<!-- add main photo of bakery goods as one image -->

<main>
    <div class="container">
        <img alt="Baked Goods" src="/images/MainImage.jpg"/>
        <h3><a href="/contact">Contact Us!</a></h3>
    </div>
</main>

<style>
    main {
        padding: 1rem;
        background: linear-gradient(
      180deg, rgba(255, 179, 16, 0.96) 0%,
      rgba(255, 88, 199, 0.8) 96%
    );
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    img {
        min-width: 50dvw;
        box-shadow:
            0 4px 15px rgba(0, 0, 0, 0.15),
            0 10px 30px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    a {
        background-color: rgb(255, 166, 181);
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        width: 15%;
        text-decoration: none;
        padding: .25rem;
        border-radius: 3px;
        border: 1px solid #c77ac6;
        font-weight: bold;
        
    }

    a:hover {
        background-color: rgb(253, 113, 239);
        font-weight: bold;
    }

    h3 {
        text-align: center;
    }
</style>


