<!-- add main photo of bakery goods as one image -->

<main>
    <img alt="Baked Goods" src="/src/assets/MainImage.jpg"/>
</main>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background: linear-gradient(
      to right,
      rgba(255, 179, 16, 0.96) 0%,
      rgba(255, 88, 199, 0.8) 96%
    );
    }

    img {
        box-shadow:
            0 4px 15px rgba(0, 0, 0, 0.15),
            0 10px 30px rgba(0, 0, 0, 0.2);
    }
</style>