<!-- add main photo of bakery goods as one image -->

<main>
    <img alt="Baked Goods" src="/src/assets/MainImage.jpg"/>
</main>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    img {
        box-shadow:
            0 4px 15px rgba(0, 0, 0, 0.15),
            0 10px 30px rgba(0, 0, 0, 0.2);
    }
</style>