---

---

<header>
    <nav>
        <ul>
            <!-- routes to pages/about page -->
            <li><a href="/about">About</a></li>
            <!-- routes to pages/goodies page-->
            <li><a href="/bakes">Baked Goods</a></li>
            <!-- scroll down lower on main -->
            <li><a href="#">Location</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
