---
const isRoot = Astro.url.pathname === "/";

---

<header>
    <!-- fix accessibility  -->
    <nav class="nav-style">
        <h2><a href="/">♡ Lune's Bakery ♡</a></h2>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bakes">Baked Goods</a></li>

            {
                isRoot && (
                    <>
                        <li>
                            <a href="#location">Location</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </>
                )
            }
            <li>
                <a class="cart-styling" href="/checkout"
                    >🛒 Cart (<span id="cart-count">0</span>)</a
                >
            </li>
        </ul>
    </nav>
</header>

    <style>
        h2 {
            color: black;
        }
        .nav-style {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
            height: 5rem;
            background-color: #ec4899;
            color: white;
        }

        .nav-links {
            display: flex;
            gap: 1rem;
            list-style: none; /* removes bullets */
            margin: 0;
            padding: 0;
        }

        .nav-links li {
            list-style: none;
        }

        ul {
            list-style-type: none;
            display: flex;
            padding: 1rem;
            justify-content: center;
        }

        li {
            padding: 1rem 1rem;
            margin-right: 5px;
        }

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

        .cart-styling {
            color: black;
        }
    </style>
<script type="module">
  import { updateCartCount } from "/public/scripts/cart";
  import { getCartTotal } from "../scripts/cart.js";
 
  updateCartCount();

const navTotalEl = document.querySelector("#nav-total");

function updateNavTotal() {
  const total = getCartTotal();
  navTotalEl.textContent = `$${total}`;
}

updateNavTotal();

    // updating in this tab! 
   window.addEventListener("cart-updated", updateCartCount);
    //   storage across tabs!
  window.addEventListener("storage", updateCartCount);
</script>