---
const isRoot = Astro.url.pathname === "/";
import Cart from "../components/Cart.jsx";
---

<header>
        <nav class="navStyle">
            <ul>
                <!-- routes to root -->
                <li><a href="/">Home</a></li>

                <!-- routes to pages/about page -->
                <li><a href="/about">About</a></li>

                <!-- routes to pages/goodies page-->
                <li><a href="/bakes">Baked Goods</a></li>

                <!-- will only show these li's on home page using isRoot set to / -->
                {isRoot && (
            // <!-- scroll down lower on main -->
                <li><a href="#location">Location</a></li>
                <li><a href="#contact">Contact</a></li>
        )}

                <Cart client:load />

                <li><a href="/cart">🛒 Cart (<span id="cart-count">0</span>)</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>

   .navStyle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;        /* h-20 = 80px = 5rem */
        padding-left: 1rem;  /* px-4 */
        padding-right: 1rem;
        color: white;
        background-color: #ec4899; /* pink-500 */
   }

    ul {
        list-style-type: none;
        display: flex;
        padding: 1rem;
        justify-content: center;
    }

    li {
        padding: 8px 16px;
        background-color: rgb(253, 144, 222);
        margin-right: 5px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }
</style>
