---
import BakeCard from "../components/BakeCard.astro";

const bakes = [
    {
        image: "/images/BakedGoods/bagel.jpg",
        title: "Blueberry Pastry",
        alt: "Blueberry Pastry",
        src: "/bakes",
    },
    {
        image: "/images/BakedGoods/bread.jpg",
        title: "Chocolate Croissant",
        alt: "Chocolate Croissant",
        src: "/bakes",
    },
    {
        image: "images/BakedGoods/cc-m.jpg",
        title: "Macadamia Nut Cookie",
        alt: "Macadamia Nut Cookie",
        src: "/bakes",
    },
];
---
<section>
    <h2>Daily Regulars</h2>
        <div class="container">
            {bakes.map((bake) => <BakeCard {...bake} />)}
        </div>
</section>

<style>
   .container {
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax (200px, 1fr));
        gap: 1rem;
        margin: 0 auto;
        justify-content: center;
        padding: 1.5rem;
    }

    h2 {
        text-align: center;
    }
</style>
