<section>
    <h2>Daily Regulars</h2>

    <!-- all daily regulars
        breads:: brown,, white,, rye
        muffins:: chocolate chip,, blueberry
        bagels:: whole wheat,, cheese
        -->
    <section>
        <div>
            <img src="" alt="" />
        </div>

        <div>
            <img src="" alt="" />
        </div>

        <div>
            <img src="" alt="" />
        </div>
    </section>
</section>

<style>
    h2 {
        text-align: center;
    }

    section {
        padding: 1.5rem;
    }
</style>
