---
import BakesCard from "./BakesCard.astro";
---

<BakesCard>
    <h2>Today's Fresh Bakes</h2>

    <img src="../assets/BakedGoods/TodayBakes/bb.jpg" alt="Blueberry Pastry" />
    <img
        src="../assets/BakedGoods/TodayBakes/cc.jpg"
        alt="Chocolate Croissant"
    />
    <img
        src="../assets/BakedGoods/TodayBakes/mc.jpg"
        alt="Macadamian Nut Cookie"
    />
</BakesCard>
